body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  padding-right: 20%;
  padding-left: 20%;
}

.title{
  text-align: centers;
}

.result{
  margin-top: 20px;
}

.slot{
  display: flex;
  margin-bottom: 10px;
}

.imagecard{
  width: 200px;
}

.cardname{
  margin: 0;
  text-align: center;
}

.card{
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  text-align: center;
}

